/*******************************************/
/******** StyledButton CSS-Styling  ********/
/*******************************************/
QPushButton
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
            stop: 0 #7aabde,
            stop: 1 #043058);

    border: 1px solid #575757;
    border-radius: 3px;
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    color: #fff;
    font: bold 12px;
}

QPushButton:pressed
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
            stop: 0 #043058,
            stop: 1 #7aabde);
}
