/*
    qmc2-rc_metal: v0.9, 11-JAN-2011, rene.reucher@batcom-it.net

    Qt style sheet compatible with QMC2 0.2.b10+

    http://qmc2.arcadehits.net/wordpress/style-sheets/

    Changes:
    
    v0.9 - updated to 0.2.b19
    v0.8 - updated to 0.2.b17
    v0.7 - updated to 0.2.b15
    v0.6 - updated to 0.2.b12
    v0.5 - updated to 0.2.b11
    v0.4 - corrected button resize issues
    v0.3 - added PCB class and button on/pressed states
    v0.2 - added border image for game/machine lists 
    v0.1 - initial version
*/

QDialog,
QTabWidget,
QTabBar,
QMenuBar,
QWebView,
QMainWindow,
Options,
QSplitter,
QScrollArea,
QScrollArea *,
Preview,
Flyer,
Cabinet,
Title,
Marquee,
Controller,
PCB {
    background-color: rgb(222, 222, 222);
    background-image: url(":/dark_rc_metal/rc_metal/main-bg.png");
    background-position: top left;
    background-origin: content;
}

QLabel#labelLoadingGamelist,
QLabel#labelLoadingHierarchy,
QLabel#labelCreatingCategoryView,
QLabel#labelCreatingVersionView,
QListWidget#listWidgetFavorites,
QListWidget#listWidgetPlayed,
QListWidget#listWidgetSearch,
QTreeWidget#treeWidgetCategoryView,
QTreeWidget#treeWidgetVersionView,
QTreeWidget#treeWidgetGamelist,
QTreeWidget#treeWidgetHierarchy {
    border-image: url(":/dark_rc_metal/rc_metal/gamelist-bg.png") repeat;
}

QTreeView,
QListView,
QLineEdit,
QTextBrowser,
QPlainTextEdit,
QSpinBox,
QDoubleSpinBox,
QComboBox,
QMenu {
    selection-color: black; 
    selection-background-color: rgb(162, 162, 162);
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(222, 222, 222), stop:1 white);
    min-width: 14px;
    min-height: 14px;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 3px;
}

QPushButton,
QToolButton {
    selection-color: black; 
    selection-background-color: rgb(162, 162, 162);
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(222, 222, 222), stop:1 white);
    border: 1px solid gray;
    padding: 2px;
    border-radius: 3px;
}

QPushButton:hover,
QToolButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 white, stop:1 rgb(222, 222, 222));
}

QPushButton:pressed,
QToolButton:pressed,
QPushButton:on,
QToolButton:on {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(222, 222, 222), stop:1 black);
}

QToolButton[flat=true], QToolButton[flat=true]:hover {
    border: 0px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 white, stop:1 rgb(222, 222, 222));
}

QCheckBox::indicator {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(222, 222, 222), stop:1 white);
    width: 14px;
    height: 14px;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 3px;
}

QCheckBox::indicator:checked {
    image: url(":/dark_rc_metal/rc_metal/ok.png");
}

QRadioButton::indicator {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(222, 222, 222), stop:1 white);
    width: 7px;
    height: 7px;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px;
}

QRadioButton::indicator:checked {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(170, 170, 170), stop:1 black);
    width: 7px;
    height: 7px;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px;
}

QListView::item:hover,
QTreeView::item:hover,
QRadioButton:hover,
QCheckBox:hover,
QMenu::item:selected,
QHeaderView,
QScrollBar,
QProgressBar {
    background-color: rgb(202, 202, 202);
}

QToolTip {
    background-color: rgb(202, 202, 202);
    opacity: 128; /* with an active composition manager, this should look semi-transparent */
}

QSplitter::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(162, 162, 162), stop:1 rgb(222, 222, 222));
    border: 1px solid #5c5c5c;
    width: 2px;
    height: 2px;
    border-radius: 1px;
}

QSplitter::handle:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(162, 162, 162), stop:1 rgb(222, 222, 222));
    border: 1px solid #5c5c5c;
    width: 2px;
    height: 2px;
    border-radius: 1px;
}

QProgressBar:horizontal {
    border: 1px solid gray;
    border-radius: 3px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 white, stop:1 rgb(222, 222, 222));
    padding: 0px;
    text-align: center;
}

QProgressBar::chunk:horizontal {
    background-color: rgb(162, 162, 162);
    width: 1px;
}

QProgressBar:vertical {
    border: 1px solid gray;
    border-radius: 3px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 white, stop:1 rgb(222, 222, 222));
    padding: 0px;
    text-align: center;
}

QProgressBar::chunk:vertical {
    background-color: rgb(162, 162, 162);
    height: 1px;
}

QProgressBar:disabled {
    color: white;
}

QHeaderView::down-arrow {
    image: url(":/dark_rc_metal/rc_metal/down-arrow.png");
}

QHeaderView::up-arrow {
    image: url(":/dark_rc_metal/rc_metal/up-arrow.png");
}

QTreeView {
    alternate-background-color: rgb(222, 222, 222);
    paint-alternating-row-colors-for-empty-area: true;
    show-decoration-selected: 0;
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(":/dark_rc_metal/rc_metal/vline.png") 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(":/dark_rc_metal/rc_metal/branch-more.png") 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(":/dark_rc_metal/rc_metal/branch-end.png") 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(":/dark_rc_metal/rc_metal/branch-closed.png");
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    border-image: none;
    image: url(":/dark_rc_metal/rc_metal/branch-open.png");
}

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 8px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 white, stop:1 rgb(222, 222, 222));
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(162, 162, 162), stop:1 rgb(222, 222, 222));
    border: 1px solid #5c5c5c;
    width: 20px;
    margin: -2px 0;
    border-radius: 3px;
}

QMessageBox {
    messagebox-text-interaction-flags: 5 /* text can be selected and copied to clipboard */
}

